<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./parts/head'); %>
    <title>404</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./parts/head'); %>
    <title>Довідник</title>
</head>
<body>
    <div class="wrap">
        Сталася помилка! Здається, тут нічого немає...
    </div>
    <script src="/js/main.js"></script>
</body>
</html>
</body>
</html>