<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./parts/head'); %>
    <title>Довідник</title>
</head>
<body>
    <div class="wrap">
        <div class="nav">
            <button class="button">Попередня</button>
            <button class="button">Наступна</button>
        </div>
        <div class="content">страничка пользователя</div>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>